<img src="https://app.mockbest.com/graphics/mockbest_logo_512_200.png"
    style="width: 150px; height: 60px; margin: auto" />
<hr />
<h3>Hi {{displayname}},</h3>
<p>We received a request for a password change on your mockbest.com account. Here is your verification code: </p>
<code style="font-size: 20px;">{{code}}</code>

<p>This code will expire in 30 minutes. After that, you'll need to submit a new request in order to reset your password.
    If you don't want to reset it, simply disregard this email.</p>
<p>If you need more help or believe this email was sent in error, feel free to contact us. (Please don't reply to this
    message; it's automated.)</p>
<br />
<p>Thanks,</p>
<p>Mockbest Examination</p>